body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: 200;
    float: right;
    
}
.menus{
    background-color: deeppink;
    height: 21px;
    width: 12%;
}
li,a{
    margin: 21px;
    margin-top: 0.3cm;
    text-decoration: solid;
    list-style-type:none;
}
#start,li{
    padding: 0%;
    display: flex;
    background-color: lightblue;
    gap:1rem;
    flex-grow: 1;
    flex-shrink:1;
    
}
p{
color:sienna
height: 12px;
}
#i{
    height: 50%;
    width: 50%;
    float: left;
}
table {
    width: 100%;
    border-color: blue;
    color: darkblue;
    margin: 20px;
    font-size: rgb(72, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
}
td{
    text-align: center;
}
h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: indigo;
    height: fit-content;
}
a{
    color: blueviolet;
}
a:hover{
    text-decoration: dotted;
}
ul{
    margin: 20px;
    padding: 0 30px;
}
a{
    color: green;
    font-weight: bolder;
    padding: 0%;
    margin: 0%;
}
table{
    border-color: lightseagreen;
    color: brown;
    top: 22%;
}
.click-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    border: none;
    color: white;
    cursor: pointer;
}

.click-button:click {
    background-color: darkgreen;
}
button{
    display: flex;
    justify-content: center;
    padding: 10px
    ;
}
body{
    background-color: rgb(247, 237, 99);
}
video{
    margin-left: 22%;
    gap: 22%;
    z-index: 3;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(6, 100px);

}
.item3{
    grid-column: 0;
    grid-row: 0;
    justify-content: center;
    gap: 20px;
}
@keyframes colorChange{
    0% { background-color:red;}
    50% { background-color:blue;}
    100% { background-color:yellow;}
}
#start{
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
}
h1:hover{
    
}
